name: Upstream Sync

permissions:
  contents: write

on:
  schedule:
    - cron: '0 0 * * *' # 每天凌晨 0点 执行一次 (UTC时间)
  workflow_dispatch: # 允许手动点击按钮触发同步

jobs:
  sync_latest_from_upstream:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout target repo
        uses: actions/checkout@v4

      - name: Sync upstream changes
        uses: aormsby/Fork-Sync-With-Upstream-action@v3.4.1
        with:
          target_repo_token: ${{ secrets.GITHUB_TOKEN }}
          upstream_sync_repo: 原作者用户名/原仓库名
          upstream_sync_branch: main
          target_sync_branch: main
          test_mode: false
